html,
body {
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
